# App
PORT=3001
NODE_ENV=development

# Database (khi chạy trong Docker, host là tên service "postgres")
DATABASE_URL="postgresql://um_user:um_password@localhost:5432/user_management?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
